.orders-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  padding-top: 20px;
}

.orders-container .orders-organizer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 3px #1f2226;
  overflow: hidden;
  width: 90%;
  max-height: 70vh;
  background-color: var(--live-orange-color);
}

.orders-container .orders-organizer .title {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  line-height: 10px;
  text-align: start;
  padding-left: 5%;
  margin-bottom: 30px;
}

@media screen and (min-width: 540px) {
  .orders-container .orders-organizer .title {
    font-size: 3rem;
    text-align: center;
    padding-left: 0;
  }
}

.orders-container .orders-organizer .btn {
  align-self: flex-end;
  background-color: #1f2226;
  margin: 0px 5px 5px 0px;
  font-size: .7rem;
}

@media screen and (min-width: 540px) {
  .orders-container .orders-organizer .btn {
    font-size: 1rem;
  }
}

.orders-container .orders-organizer .orders-columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: #373F47;
}

.orders-container .orders-organizer .orders-columns p {
  width: 25%;
  text-align: center;
  color: #ffffff;
}

.orders-container .orders-organizer .orders {
  height: 40vh;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 540px) {
  .orders-container .orders-organizer .orders {
    height: 60vh;
  }
}

.orders-container .orders-organizer .orders::-webkit-scrollbar {
  width: 7px;
}

.orders-container .orders-organizer .orders::-webkit-scrollbar-thumb {
  background-color: var(--live-orange-color);
}

.orders-container .orders-organizer .orders .order-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #7A7A7A;
  padding: 4px;
  min-height: 48px;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .orders-container .orders-organizer .orders .order-row .id, .orders-container .orders-organizer .orders .order-row .items {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .orders-container .orders-organizer .orders .order-row .id:hover, .orders-container .orders-organizer .orders .order-row .items:hover {
    position: absolute;
    border: solid 2px #373F47;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--live-orange-color);
    padding: 3px;
    z-index: 1;
    user-select: none;
  }
}

.orders-container .orders-organizer .orders .order-row .id {
  background-color: var(--live-orange-color);
}

.orders-container .orders-organizer .orders .order-row .order-info {
  width: 25%;
  text-align: center;
}
