.details-container {
  border: solid 1px white;
  box-shadow: 0px 0px 4px 2px black;
  color: white;
  margin-top: 5vh;
  overflow: hidden;
  width: 95%;
  overflow-y: auto;
}

.details-container::-webkit-scrollbar {
  width: 7px;
}

.details-container::-webkit-scrollbar-thumb {
  background-color: var(--live-orange-color);
}

.details-container ul li {
  display: flex;
  justify-content: space-between;
  line-height: 2.2rem;
  background-color: #373F47;
  border-bottom: solid 1px #ffffff;
  padding-left: 10px;
}

.details-container ul li:last-child {
  border-bottom: none;
}

.details-container ul li:nth-child(odd) {
  background-color: #7A7A7A;
}

.details-container ul li:nth-child(odd) .span {
  background-color: #373F47;
}

.details-container ul li:nth-child(even) {
  background-color: #373F47;
}

.details-container ul li:nth-child(even) .span {
  background-color: #7A7A7A;
}

.details-container ul li .span {
  width: 90%;
  padding-left: 10px;
}
