.cart-item {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  height: auto;
  width: 100%;
  padding: 5px;
  transition: 1s all;

}

.cart-item .item {
  min-width: 10vw;
  max-width: 10vw;
  text-align: center;
}

.cart-item .item-name {
  font-size: .8rem;
  white-space: wrap;
}

@media screen and (min-width: 540px) {
  .cart-item .item-name {
    font-size: 1rem;
  }
}

.cart-item .item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.cart-item .delete-item {
  cursor: pointer;
  color: #7A7A7A;
  min-width: 2vw;
  max-width: 2vw;
}

.cart-item .delete-item:hover {
  color: #373F47;
}
